@tailwind base;
@tailwind components;
@tailwind utilities;
.green{
    @apply flex items-center gap-3 cursor-pointer hover:w-fit hover:px-1 hover:rounded-lg  hover:bg-slate-700;
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }

}